
$menu-item
  padding: 0 menu-padding-horizontal
  width: 100%
  height: menu-height
  background-color: #fff
  line-height: menu-height
  box-sizing: border-box
  cursor: pointer

.effect-dropdown
  position: relative
  display: inline-block
  width: menu-width
  color: #333

  .effect-dropdown__label
    @extend $menu-item

    position: relative
    display: inline-block
    color: #999
    z-index: 1500

  .effect-dropdown__content
    padding-left: 0
    margin: 0
    width: 100%

  .effect-dropdown-item
    @extend $menu-item

    position: absolute
    top: 0
    left: 0
    transition: all 0.25s ease
    overflow: hidden
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
