@font-face
  font-family: "effect-dropdown-iconfont"
  src: url("./fonts/iconfont.eot")
  src: url("./fonts/iconfont.eot#iefix") format("embedded-opentype"),
  url("./fonts/iconfont.woff") format("woff"),
  url("./fonts/iconfont.ttf") format("truetype"),
  url("./fonts/iconfont.svg") format("svg")

.effect-dropdown-iconfont
  font-family: "effect-dropdown-iconfont" !important
  font-size: inherit
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
